html {
    font-size: 62.5%;
    font-family: 'Open Sans', Verdana, sans-serif;
}

body {
    margin: 0px 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    box-sizing: border-box;
    padding: .7rem 1rem;
    border-radius: .3rem;
    border: 1px solid #317EEB;
    background-color: #317EEB;
    font-size: 1.5rem;
    font-family: 'Open Sans';
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
    background-color: #1760C7;
}

input[type="text"],
input[type="number"],
input[type="url"],
select,
textarea {
    box-sizing: border-box;
    padding: .7rem 1rem;
    border-radius: .3rem;
    border: 1px solid #B9B9B9;
    font-size: 1.4rem;

}

label {
    display: block;
}

.field-warn {
    border-color: #D60030 !important;
}

#msg {
    width: 92%;
    margin: 2rem 4% 1rem 4%;
    font-size: 1.4rem;
}

#msg-prod-edit {
    margin: 2rem 0 1rem 0;
    font-size: 1.4rem;
}

.msg-inf {
    color: #459536;
}

.msg-warn {
    color: #D60030;
}

#admin-login .msg-warn {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.field-warn {
    border-color: #D60030 !important;
}

.panel {
    overflow: auto;
    height: 65rem;
    margin-bottom: 2em;
    margin-left: 5%;
    border: 1px solid #DDDDDD;
    border-radius: .3rem;
    box-shadow: 2px 3px 6px -3px #DDDDDD;
    background-color: #FFFFFF;
}

.w70 {
    width: 70%;
}

.w90 {
    width: 90%;
}

.panel-hd {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 1rem;
    border-bottom: 1px solid #DDDDDD;
    background: linear-gradient(#FFFFFF, #F7F7F7);
}

.panel-hd-controls {
    display: -webkit-flex;
    display: flex;
}

.panel-hd-controls > div {
    display: inline-block;
    margin-left: 5rem;
}

.panel-hd-controls i {
    margin-left: 1rem;
    color: #777777;
}

.panel-hd-controls i:hover {
    cursor: pointer;
    color: #000000;
}

.panel-hd-controls select,
.panel-hd-controls input[type="text"] {
    padding: .2rem .5rem !important;
}

.panel-hd-controls .search {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;

}

.panel-hd-controls .search #q {
    border-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    outline: none;
}

#search-go {
    transform: rotate(90deg);
    margin-left: 0 !important;
    border-top: 1px solid #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-bottom: 0 !important;
    border-left: 1px solid #B9B9B9;
    border: 1px solid #B9B9B9;
    background-color: #F0F0F0;
}

.panel-section {
    margin-top: 2rem;
    width: 96%;
    margin: 0 auto;
}

.panel-section-hidden {
    display: none;
}

.panel .row {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

.panel-title {
    font-size: 1.5rem;
}

#admin-login-wrap {
    width: 30rem;
    margin: 5rem auto;
}

#admin-login h1 {
    font-size: 2.4rem;
}

#admin-login input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 3rem;
    padding: .7rem 1rem;
    border-radius: .3rem;
    border: 1px solid #B9B9B9;
    font-size: 1.5rem;
}

#admin-login button {
    width: 100%;
}

#adm {
    background-color: #F7F7F7;
}

#adm header {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background-color: #317EEB;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}

#company-name {
    margin-left: 3rem;
    font-size: 2.4rem;
}

#logout-wrap {
    margin-right:3rem;
}

#logout-wrap a:link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #FFFFFF;
}
#logout-wrap a:visited {
    text-decoration: none;
    color: #FFFFFF;
}
#logout-wrap a:hover {
    text-decoration: underline;
}
#logout-wrap a:active {
    text-decoration: underline;
}

#adm-mid {
    display: flex;
    flex-flow: row wrap;
    min-height: calc(100vh - 70px);
}

#adm-panels-wrap {
    box-sizing: border-box;
    width: 77%;
    margin: 5rem auto;
}

#nav-lft {
    box-sizing: border-box;
    width: 17%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#menu {
    margin: 5rem 2rem;
    font-size: 1.5rem;
}

#menu a:link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #003154;
}

#menu a:visited {
    text-decoration: none;
    color: #003154;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a:active {
    text-decoration: none;
}

#menu .lev-1 {
    margin-left: 1em;
}
#menu .lev-2 {
    margin-left: 2em;
}

#menu .lev-3 {
    margin-left: 3em;
}


#menu li,
.menu-item {
    padding: .3em 0;
}

.menu-item {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
}

#menu .collapsed,
#menu .expanded {
    overflow: hidden;
}

#menu .collapsed {
    max-height: 0;
}

.up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #B7B7B7;
}

.down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #B7B7B7;
}

.list-row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    padding: 1.5rem 0 .5rem 0;
    font-size: 1.4rem;
    border-bottom: 1px solid #cccccc;
}

.list-row div {
    margin: 0 2rem;
    /*flex: 1 1 0;*/
}

.list-row i {
    margin: 0 .7rem;
    font-size: 2rem;
    color: #DDDDDD;
}

.list-row i:hover {
    cursor: pointer;
}

.list-row .del:hover {
    color: #D60030;
}

.list-row .edit:hover {
    color: #003154;
}

#addresses-list {
    overflow: auto;
    max-height: 45rem;
    margin-top: 3rem;
}

#addresses-entered {
    overflow: auto;
    max-height: 50rem;
    margin-top: 3rem
}

#addresses-entered .list-row div {
    max-width: 12%;
    word-wrap: break-word;
}

#addresses-entered .list-row .delivery-zone {
    max-width: 5rem;
    text-align: center;
}

#delivery-address-wrap {
    width:96%;
    margin-top: 2rem;
    margin-left: 2%;
}

#delivery-address-wrap input,
#delivery-address-wrap select {
    min-width: 15%;
    margin-right: 2rem;
}

/*********************************************************
    Products
*********************************************************/

#client-add,
#product-edit {
    width: 100%;
    max-width: 80rem;
    margin: 3rem;
}

#client-add input[type="text"] {
    display: block;
    margin-bottom: 2rem;
    width: 25rem;
}

#client-add button,
#product-edit button {
    padding: .7rem 2rem;
}

#client-add .row,
#client-edit .row {
    justify-content: space-between;
    margin-bottom: 2rem;
}


#clients-list {
    overflow: auto;
    max-height: 50rem;
    margin-top: 3rem;
    margin-bottom: 3rem
}


/*********************************************************
    Pop-up window
*********************************************************/
#dimm {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #DDDDDD;
    opacity: 0.3;
    z-index: 110;
}

#popwin {
    position: absolute;
    width: 80%;
    max-width: 100rem;
    margin: 0 auto;
    right: 0;
    left: 0;
    background-color: #FFFFFF;
    border: 1px solid #CECECE;
    z-index: 120;
    box-shadow: 3px 3px 7px rgba(50, 50, 50, .3);
}

#popwin-close {
    position: absolute;
    top: .7rem;
    right: .7rem;
    font-size: 1.8rem;
    color: #777777;
}

#popwin-close:hover {
    color: #000000;
    cursor: pointer;
}



/*********************************************************
    Payments
*********************************************************/

#section-payment-create .row {
    margin-bottom: 3rem;
}

#payment-url,
#paypal-url{
    width: 100%;
}

#client-id {
    width: 20rem;
}

.is-paid {
    color: #00AA00 !important;
}

.payment-edit-form {
    margin: 5rem 3rem;
    font-size: 1.4rem;
    line-height: 140%;
}

/*********************************************************
    Orders
*********************************************************/

#orders-list {
    overflow: auto;
    max-height: 51rem;
    margin-top: 3rem;
}

i.cart {
    width: 3rem;
    color: #00AA00;
}

#orders-list .order-id {
    width: 7rem;
}

#orders-list .total-cost {
    width: 7rem;
}

#orders-list .status {
    width: 10rem;
}

#orders-list .status:hover {
    cursor: pointer;
    color: #777777;
}

#orders-list .address {
    text-align: center;
    width: 15rem;
}

#orders-list .contact {
    flex-grow: 1;
}

#orders-list .date {
    width: 10rem;
}

.pw-order,
#pw-status {
    width: 90%;
    margin-top: 5rem;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto;
    font-size: 1.4rem;
}

#pw-order-products,
#pw-order-products li,
#pw-status ul {
    margin-bottom: 2rem;
}

#pw-status ul {
    margin-top: 2rem;
}

#pw-order-products li {
    padding-bottom: 2rem;
    border-bottom: 1px solid #CCCCCC;
}

#pw-order-products li > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#pw-order-products input {
    width: 10rem;
    margin-left: 2rem;
}
