
/*
 Table Of Contents 
 1.) Default Styles

 2.)  Home page 
 2.1) Header
 2.2) Banner - Main
 2.3) Feature - List
 2.4) Banner - Cta
 2.5) Footer
 
 3.) Inner page 
 4.) About 
 5.) Settings 
 6.) My orders 
 7.) Checkout 
 8.) Login - Signup
 9.) Questions

===============================================*/

/*
 1.) Default Styles
 ----------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* render html5 elements as block */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
	font-size:20px;
}

sub {
	bottom: -0.25em;
}

img {
	width:auto;
	height:auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
	line-height:.5em;
}

/*  Custom animations
/*-------------------------------------------------- */
@-webkit-keyframes
reveal {
 0% {
 opacity: 0;
}
 1% {
 opacity: 0;
 -webkit-transform: scale(0.98) translateY(-15px);
}
 80% {
 -webkit-transform: scale(1);
}
 100% {
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes
reveal {
 0% {
 opacity: 0;
}
 1% {
 opacity: 0;
 -moz-transform: scale(0.98) translateY(-15px);
}
 80% {
 -moz-transform: scale(1);
}
 100% {
 -moz-transform: translateY(0);
}
}

/* #Basic Styles
================================================== */

body {
	font-family:"helvetica_neueregular", Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:20px;
	color:#333333;
	background:#0c203e;
}


/* #Links
================================================== */

a {
	color:#e8472a;
	outline:0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	cursor:pointer;
	text-decoration:none;
}

a:hover {
	color:#1f3a63;
	text-decoration:underline;
	outline:0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

a:focus, a:active, a:visited {
	outline:0;
	text-decoration:none;
}


/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#516e9b;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:uppercase;
	padding:0 0 20px 0;
	margin:0;
}

h1 {
	font-size:48px;
	color:#1f3a63;
	text-transform:none;
}

h2 {
	font-size:22px;
}

h3 {
	font-size:18px;
}

h4 {
	font-size:16px;
}

p {
	padding:0 0 20px 0;
}

em {
	font-style:italic;
}

strong {
	font-weight:normal;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
}

.bold {
	font-weight:normal;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
}

.upper {
	text-transform:uppercase
}
.lower {
	text-transform: none
}

.highlight {
	color:#e8472a;
}

@media only screen and (max-width: 1023px) {
h1 {
	font-size:40px;
}
}

@media only screen and (max-width: 767px) {
h1, h2, h3, h4, h5, h6 {
	line-height:1.1em;
	padding:0 0 15px 0;
}

h1 {
	font-size:32px;
}

h2 {
	font-size:20px;
}

h4 { font-size:14px}

p {
	padding:0 0 15px 0;
	font-size:14px;
}
}

/* #Order and Unorder Styles
================================================= */

ul {
	list-style:none;
	padding:0;
	margin:0;
}


/* #Input Styles
================================================= */

input, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline:0;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	outline: 0;
}

input, textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

label {
	width:100%;
	float:left;
	font-weight:normal;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333333;
	line-height:20px;
	padding:4px 0 15px 0;
	margin:0;
}

.input, .textarea {
	width:100%;
	height:40px;
	float:left;
	font-family:"helvetica_neueregular", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333333;
	line-height:20px;
	text-transform:none;
	background:#ffffff;
	border:2px solid #bababa;
	border-radius:5px !important;
	padding:7px 11px;
	outline:none;
	position:relative;
}

.textarea {
	height:150px;
	line-height:normal;
	padding:10px 11px;
	outline:none;
	resize:none;
}

.error {
	border-color:#e8472a;
}

:placeholder {
	color:#999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color:#999999;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color:#999999;
}

@media only screen and (max-width: 767px) {
label {
	padding:3px 0 12px 0;
}
}

/* Custom Select Box */
.sbHolder {
	width:100%;
	height:40px;
	float:left;
	position:relative;
	outline:none;
	text-decoration:none;
}

.sbSelector {
	width:100%;
	float:left;
	height:40px;
	display:block;
	left:0;
	outline:none;
	overflow:hidden;
	background:#ffffff;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333333 !important;
	line-height:36px;
	text-transform:none;
	text-align:left;
	text-indent:0;
	text-decoration:none;
	border:2px solid #bababa;
	border-radius:5px;
	position:relative !important;
	padding:0 11px;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover, .sbSelector:active {
	color:#ffffff;
	outline:none;
	text-decoration:none;
}

.sbHolder:hover .sbSelector {
	color:#ffffff;
	outline:none;
	text-decoration:none;
}

.sbToggle {
	width:34px;
	height:36px;
	float:right;
	display:block;
	outline:none;
	position:absolute;
	right:2px;
	top:2px;
	z-index: 10;
}

.sbToggle:before {
	float:right;
	content:"";
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:10px solid #516e9b;
	position:absolute;
	top:13px;
	left:12px;
}

.sbToggleOpen:before {
	border-top:none;
	border-bottom:10px solid #516e9b;
}

.sbOptions {
	list-style:none;
	left:0;
	margin:0 !important;
	padding:0 !important;
	position:relative;
	position:absolute;
	top:36px !important;
	width:100% !important;
	z-index:1;
	overflow-y:auto;
	max-height:100px;
	z-index:20;
	overflow:auto;
	overflow-x:hidden;
	background:#ffffff;
	border:2px solid #bababa;
	border-radius:0 0 5px 5px;
}

.sbOptions li {
	width:100%;
	float:left;
	padding:0 !important;
	margin:0 !important;
}

.sbOptions a {
	width:100%;
	float:left;
	display:block;
	color:#333333;
	font-size:16px;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	line-height:20px;
	text-transform:none;
	border:none;
	outline:none;
	text-decoration:none;
	text-align:left;
	padding:7px 11px 10px 11px;
}

.sbOptions a:link, .sbOptions a:visited {
	color:#333333;
	text-decoration:none;
}

.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {
	color:#ffffff;
	background:#bababa;
}

.sbOptions .sbDisabled {
	color:#ffffff;
	display:block;
	padding:10px 15px;
}

.sbOptions .sbGroup {
	color:#333333;
	font-size:16px;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	display:block;
	padding:5px 11px;
}

.sbOptions .sbSub {
	padding-left:11px;
}


/* #Buttons
================================================== */

.btn {
	height:40px;
	float:none;
	display:inline-block;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#ffffff;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	white-space:normal;
	vertical-align:middle;
	text-transform:none;
	letter-spacing:normal;
	line-height:38px;
	background:#e8472a;
	border:none;
	border-radius:5px;
	overflow: hidden;
	position:relative;
	z-index: 1;
	cursor:pointer;
	padding:0 34px;
	transition: 0.08s ease-in;
	-o-transition: 0.08s ease-in;
	-ms-transition: 0.08s ease-in;
	-moz-transition: 0.08s ease-in;
	-webkit-transition: 0.08s ease-in;
	margin:0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus,
.btn.active:focus  {
	color:#ffffff;
	text-decoration:none;
}

.btn:before {
	content: "";
	width:100%;
	height:100%;
	background:#cf2f13;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top:38px;
	z-index: -1;
	transition: 0.08s ease-in;
	-o-transition: 0.08s ease-in;
	-ms-transition: 0.08s ease-in;
	-moz-transition: 0.08s ease-in;
	-webkit-transition: 0.08s ease-in;
}

.btn:hover:before {
	top:0;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	cursor:not-allowed;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity:.65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events:none;
}

.btn-blue {
	background:#7e96dc;
}

.btn-blue:before {
	background:#3b5dc1;
}

.btn-blue:hover:before {
	top:0;
}

.btn-out {
	width:100%;
	float:left;
}

@media only screen and (max-width: 767px) {
.btn {
	padding:0 30px;
}
}

/* #Show-Hide Responsive Options
================================================== */

.show_mobile {
	display:none;
}

.hide_mobile {
	display:block;
}

.show_both {
	display:none;
}

.hide_both {
	display:block;
}

@media only screen and (max-width: 979px) {
.show_both {
	display:block;
}

.hide_both {
	display:none;
}
}

@media only screen and (max-width: 767px) {
.show_mobile {
	display:block
}
.hide_mobile {
	display:none
}
}


/*
 2.) Home page
 ----------------------------------------*/
.container-main {
	width:100%;
	float:left;
	background:#ffffff;
}

.container {
	width:100%;
	max-width:1230px;
	margin:0 auto;
	padding:0 30px;
}

@media only screen and (max-width: 767px) {
.container {
	max-width:100%;
	padding:0 5%;
}
}

.outer-bg {
	width:100%;
	height:100%;
	float:none;
	display:table;
	margin:0 auto
}

.inner-bg {
	width:100%;
	height:100%;
	float:none;
	display:table-cell;
	vertical-align:middle;
}

/* Menu - Btn */
.menu-btn {
	width: 28px;
	height: 26px;
	float: right;
	background:none;
	display:none;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
	position:absolute;
}

.menu-btn .icon-bar {
	width: 100%;
	float: right;
	text-decoration: none;
	position: relative;
	padding:0;
}

.menu-btn .icon-bar span {
	width: 100%;
	height: 4px;
	float: left;
	background: #1f3a63;
	position: relative;
	transition: all 0.4s ease;
	margin:10px 0;
}

.menu-btn .icon-bar span:before {
	content: "";
	width: 100%;
	height: 4px;
	float: left;
	background: #1f3a63;
	position: absolute;
	top: -9px;
	left: 0;
	transition: all 0.4s ease;
}

.menu-btn .icon-bar span:after {
	content: "";
	width: 100%;
	height: 4px;
	float: left;
	background: #1f3a63;
	position: absolute;
	top: 9px;
	left: 0;
	transition: all 0.4s ease;
}

.menu-btn.active .icon-bar span {
	background:none;
}

.menu-btn.active .icon-bar span:before {
	height: 4px;
	top: 0;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu-btn.active .icon-bar span:after {
	height: 4px;
	top: 0;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}


@media only screen and (max-width: 767px) {
.menu-btn {
	display:block;
	top:70px;
	right:5%;
}
}


/*
 2.1) Header
 ----------------------------------------*/

.header-main {
	width:100%;
	height:100px;
	float:left;
	border-bottom:1px solid #c8cdd4;
	padding:12px 0;
	position:relative;
	z-index:100;
}

.header-main .logo {
	width:82px;
	float:left;
	margin:0 -300px 0 0;
	position:relative;
	z-index:10;
}

.header-main .logo img {
	width:100%;
}

.nav-bar {
	width:100%;
	float:left;
	padding:25px 0;
}

.nav-bar nav {
	float:right;
}

.nav-bar nav ul {
	float:left;
}

.nav-bar nav ul li {
	float:left;
	font-family:"myriad_proregular", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#1f3a63;
	line-height:20px;
	border-right:1px solid #b3c5e1;
	position:relative;
	padding:0;
}

.nav-bar nav ul li a {
	float:left;
	color:#1f3a63;
	padding:1px 12px;
}

.nav-bar nav ul li a:hover {
	color:#e8472a;
	text-decoration:none;
}

.nav-bar nav ul li a.active {
	color:#e8472a;
	text-decoration:none;
}

.nav-bar .icon-bg {
	float:right;
	padding:0;
}

.nav-bar .icon-bg ul {
	float:left;
	padding:0 0 0 45px;
}

.nav-bar .icon-bg ul li {
	float:left;
	padding:0 22px 0 0;
}

.nav-bar .icon-bg ul li:last-child {
	padding-right:0;
}

.nav-bar .icon-bg .name {
	float: left;
	font-family:"myriad_proregular", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#1f3a63;
	line-height:20px;
	padding:1px 0 0 12px;
}

.nav-bar .icon-bg .name a {
	color:#1f3a63;
}

.nav-bar .icon-bg .name a:hover {
	color:#e8472a;
	text-decoration:none;
}

@media only screen and (max-width: 767px) {
.header-main {
	height:125px;
	padding:50px 0 10px 0;
}

.header-main .logo {
	width:70px;
}

.nav-bar .collapse {
	height:0;
	overflow:hidden;
	 -webkit-transition:height .35s ease;
	 -moz-transition:height .35s ease;
	 -o-transition:height .35s ease;
	 transition:height .35s ease;
}

.nav-bar .collapse.in {
	height:auto;
}

.nav-bar .menu-collapse {
	width:100%;
	float:left;
	background:#ffffff;
	padding:0;
	position:absolute;
	top:125px;
	left:0;
}

.nav-bar {
	padding:0;
}

.nav-bar nav ul {
	width:100%;
	padding:9px 0 12px 0;
}

.nav-bar nav ul li {
	width:100%;
	border-right:none;
}

.nav-bar nav ul li a {
	width:100%;
	padding:5px 5%;
}

.nav-bar .icon-bg {
	width:100%;
	height:40px;
	float:left;
	background:#f2f2f2;
	padding:8px 5%;
	position:absolute;
	top:0;
	left:0;
}

.nav-bar .icon-bg ul {
	float:right;
	padding:0;
}

.nav-bar .icon-bg ul li {
	float:left;
	line-height:18px;
	padding:0 15px 0 0;
}

.nav-bar .icon-bg ul li:last-child {
	padding-right:0;
}

.nav-bar .icon-bg .name {
	font-size:14px;
	padding:1px 0 0 0;
}
}


/*
 2.2) Banner - Mian
 ----------------------------------------*/

.banner-main {
	width:100%;
	float:left;
	background:url(../images/bg-01.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	text-align:center;
}

.banner-main:before {
	content:"";
	width:100%;
	height:100%;
	float:left;
	background:rgba(243, 243, 243, 0.9);
	position:absolute;
	top:0;
	left:0;
}

.banner-main .banner-txt {
	width:100%;
	max-width:1100px;
	float:none;
	display:inline-block;
	padding:195px 0 280px 0;
	position:relative;
	z-index:10;
}

.banner-main .banner-txt h1 {
	width:100%;
	max-width:885px;
	float:none;
	display:inline-block;
	padding:0 0 50px 0;
}

.banner-main .banner-txt p {
	font-size:14px;
	color:#ffffff;
	line-height:18px;
}

.banner-main .banner-txt p:last-child {
	padding-bottom:0;
}

.banner-main .banner-txt p a {
	color:rgba(232, 71, 42, 1);
}

.banner-main .banner-txt p a:hover {
	color:rgba(232, 71, 42, 0.8);
}

.banner-main .banner-txt .shop-box {
	width:100%;
	float:left;
	background:#344c71;
	border-radius:7px;
	padding:58px 65px 25px 65px;
}

.banner-main .banner-txt .input-bg {
	width:100%;
	float:left;
	padding:0 297px 0 0;
}

.banner-main .banner-txt .input {
	height:64px;
	font-size:22px;
	background:#f5f5f5;
	border-color:#e8472a;
	padding:12px 28px;
	border-radius:7px !important;
	margin-bottom:18px;
}

.banner-main .banner-txt .btn {
	width:100%;
	height:64px;
	font-size:22px;
	line-height:62px;
	border-radius:7px;
	margin-bottom:18px;
}

.banner-main .banner-txt .btn:before {
	top:62px;
}

.banner-main .banner-txt .btn:hover:before {
	top:0;
}

.banner-main .banner-txt .btn-out {
	width:270px;
	float:right;
	margin:0 0 0 -270px;
}

.banner-main .bottom-arrow {
	width:100%;
	float:left;
	position:absolute;
	text-align:left;
	bottom:0;
	left:0;
}

@media only screen and (max-width: 1199px) {
.banner-main .banner-txt {
	padding:160px 0 250px 0;
}

.banner-main .bottom-arrow img {
	max-width:780px;
}
}

@media only screen and (max-width: 1023px) {
.banner-main .banner-txt {
	padding:140px 0 200px 0;
}

.banner-main .banner-txt h1 {
	padding:0 0 35px 0;
}

.banner-main .banner-txt .shop-box {
	padding:40px 40px 30px 40px;
}

.banner-main .banner-txt .input-bg {
	padding:0 245px 0 0;
}

.banner-main .banner-txt .input {
	height:55px;
	font-size:18px;
	padding:10px 23px;
	margin-bottom:13px;
}

.banner-main .banner-txt .btn {
	height:55px;
	font-size:18px;
	line-height:53px;
	margin-bottom:13px;
}

.banner-main .banner-txt .btn-out {
	width:225px;
	float:right;
	margin:0 0 0 -270px;
}

.banner-main .bottom-arrow img {
	max-width:580px;
}
}

@media only screen and (max-width: 767px) {
.banner-main .banner-txt {
	padding:100px 0 120px 0;
}

.banner-main .banner-txt h1 {
	padding:0 0 25px 0;
}

.banner-main .banner-txt .shop-box {
	padding:30px;
}

.banner-main .banner-txt .input-bg {
	padding:0 0 20px 0;
}

.banner-main .banner-txt .input {
	height:45px;
	font-size:16px;
	padding:8px 15px;
	margin-bottom:10px;
}

.banner-main .banner-txt .btn {
	width:160px;
	height:45px;
	font-size:16px;
	line-height:43px;
	margin-bottom:9px;
}

.banner-main .banner-txt .btn-out {
	width:100%;
	float:left;
	margin:0;
}

.banner-main .bottom-arrow {
	text-align:center;
}

.banner-main .bottom-arrow img {
	max-width:280px;
}
}


/*
 2.3) Feature - List
 ----------------------------------------*/

.feature-list {
	width:100%;
	float:left;
	padding:50px 0;
	text-align:center;
}

.feature-list figure {
	width:54px;
	float:none;
	display:inline-block;
	vertical-align:middle;
	margin:0 -54px 0 0;
}

.feature-list aside {
	width:100%;
	float:none;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 80px;
	margin:0 -3px;
}

.feature-list aside p {
	font-size:18px;
	color:#1f3a63;
	line-height:30px;
}

.feature-list aside p:last-child {
	padding-bottom:0;
}

.feature-list article {
	width:20.5%;
	float:none;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	padding:0 0 20px 0;
	margin:0 1.9%;
}

.feature-list article:nth-child(3) aside {
	padding-left:70px;
}

.feature-list article:nth-child(4) aside {
	padding-left:65px;
}

.feature-list .article-bg {
	width:102%;
	float:left;
	padding:0 15px;
	margin:0 -1% -20px -1%;
}

@media only screen and (max-width: 1199px) {

.feature-list aside {
	padding:0 0 0 70px;
}

.feature-list aside p {
	font-size:16px;
	line-height:28px;
}

.feature-list article {
	padding:0 0 20px 0;
}

.feature-list article:nth-child(3) aside {
	padding-left:60px;
}

.feature-list article:nth-child(4) aside {
	padding-left:55px;
}

.feature-list .article-bg {
	padding:0;
}
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
.feature-list {
	text-align:center;
	padding:40px 0;
}

.feature-list figure {
	width:100%;
	line-height:54px;
	margin:0 0 10px 0;
}

.feature-list aside {
	padding:0 0 0 0;
}

.feature-list article:nth-child(3) aside {
	padding-left:0;
}

.feature-list article:nth-child(4) aside {
	padding-left:0;
}

.feature-list article {
	width:33.33%;
	text-align:center;
	padding:0 20px;
	margin:0 -2px 30px -2px;
}

.feature-list .article-bg {
	width:102%;
	float:left;
	padding:0;
	margin:0 0 -30px 0;
}
}

@media only screen and (max-width: 767px) {
.feature-list article {
	width:50%;
}
}

@media only screen and (max-width: 479px) {
.feature-list figure img {
	max-width:45px;
}

.feature-list aside p {
	font-size:15px;
	line-height:27px;
}

.feature-list aside p br {
	display:none;
}

.feature-list article {
	width:50%; margin:0 -2px;
}

.feature-list article:nth-child(3) figure img {
	max-width:38px;
}

.feature-list article:nth-child(4) figure img {
	max-width:35px;
}
}

@media only screen and (max-width: 479px) {
.feature-list article {
	width:100%;
}
}

/*
 2.4) Banner - Cta
 ----------------------------------------*/

.banner-cta {
	width:100%;
	float:left;
	background:url(../images/bg-02.jpg) repeat top center;
	text-align:center;
	padding:30px 0;
}

.banner-cta .btn {
	width:270px;
	height:60px;
	font-size:22px;
	line-height:53px;
	background:none;
	border:3px solid #e8472a;
	padding:0;
}

.banner-cta .btn:before {
	background:#e8472a;
	top:57px;
}

.banner-cta .btn:hover:before {
	top:0;
}

.banner-cta .btn-out {
	width:100%;
	float:left;
}

@media only screen and (max-width: 767px) {
.banner-cta {
	padding:25px 0;
}

.banner-cta .btn {
	width:180px;
	height:50px;
	font-size:18px;
	line-height:45px;
	border-width:2px;
}

.banner-cta .btn:before {
	top:50px;
}
}

/*
 2.5) Footer
 ----------------------------------------*/

.footer-main {
	width:100%;
	float:left;
	background:#0c203e;
	padding:60px 0;
	position:relative;
	z-index:100;
}

.contact {
	width:100%;
	float:left;
	border-bottom:1px solid #4c6a98;
	text-align:center;
	padding:0 0 60px 0;
	margin:0 0 60px 0;
}

.contact aside {
	width:320px;
	float: none;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	padding:0;
	margin:0 130px;
}

.contact aside figure {
	float: none;
	display:inline-block;
	vertical-align:middle;
	margin-right:30px
}

.contact aside p {
	float: none;
	display:inline-block;
	vertical-align:middle;
	font-size:22px;
	color:#b3c5e1;
	padding:0;
}

.contact aside p a {
	color:#b3c5e1;
}

.contact aside p span {
	color:#516e9b;
	font-size:14px;
}

@media (max-width: 1239px) {
.contact aside {
	margin:0 60px;
}
}

@media (max-width: 1023px) {
.footer-main {
	padding:50px 0;
}

.contact {
	padding:0 0 50px 0;
	margin:0 0 50px 0;
}

.contact aside {
	width:280px;
	margin:0 30px;
}

.contact aside figure {
	width:46px;
	margin-right:20px
}

.contact aside p {
	font-size:20px;
}
}

@media only screen and (max-width: 767px) {
.footer-main {
	padding:40px 0;
}

.contact {
	padding:0 0 10px 0;
	margin:0 0 40px 0;
}

.contact aside {
	width:100%;
	margin:0 0 30px 0;
}

.contact aside figure {
	width:44px;
}

.contact aside p {
	font-size:19px;
}

.contact aside p span {
	font-size:13px
}

.contact aside p.email {
	font-size:14px
}
}
.m-b-15{
	margin-bottom: 15px !important;
}
.modal h4.modal-title {
	padding-bottom: 0;
}
.footer-links {
	width:100%;
	float:left;
	position:relative
}

.footer-links ul {
	width:100%;
	float:left
}

.footer-links ul li {
	font-size:16px;
	color:#516e9b;
	padding:0 0 8px 0
}

.footer-links ul li a {
	color:#516e9b;
	text-decoration:none
}

.footer-links ul li a:hover {
	color:#e8472a;
	text-decoration: underline
}

.footer-links ul li .fa-facebook {
	padding-right:15px;
	font-weight:bold;
	color:#b3c5e1;
	font-size:18px
}

.footer-links ul li .fa-twitter {
	padding-right:10px;
	font-weight:bold;
	color:#b3c5e1;
	font-size:18px
}

.footer-links aside {
	width:25%;
	float:left;
}

.footer-links aside h4 {
	color:#b3c5e1;
	font-size:16px;
	margin:0;
	padding:0 0 10px 0;
}

.footer-links .aside-bg {
	width:100%;
	float:left;
}

@media (max-width: 1023px) {
.footer-links aside {
	width:50%;
	margin-bottom:30px;
}

.footer-links .aside-bg {
	margin:0 0 -30px 0;
}
}

@media only screen and (max-width: 767px) {
.footer-links aside {
	width:50%;
	float:left;
	margin-bottom:30px;
}

.footer-links ul li {
	font-size:14px;
	padding:0 0 6px 0
}
}


@media only screen and (max-width: 479px) {
.footer-links aside {
	width:100%;
}
}

/*
 3) Innerpage
 ----------------------------------------*/

.content-inner {
	width:100%;
	float:left;
	padding:60px 0;
}

@media only screen and (max-width: 1023px) {
.content-inner {
	padding:50px 0;
}
}

@media only screen and (max-width: 767px) {
.content-inner {
	padding:40px 0;
}
}

/*
 3.1) Banner - Inner
 ----------------------------------------*/
.banner-inner {
	width:100%;
	float:left;
	background:url(../images/banner-main.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	text-align:center;
	padding:52px 0 50px 0;
}

.banner-inner:before {
	content:"";
	width:100%;
	height:100%;
	float:left;
	background:rgba(243, 243, 243, 0.9);
	position:absolute;
	top:0;
	left:0;
}

.banner-inner aside {
	width:100%;
	float:left;
	position:relative;
	z-index:10
}

.banner-inner aside h1 {
	text-align:center;
	margin:0;
	padding:0;
}

.banner-inner aside h1:last-child {
	padding-bottom:0;
}


@media only screen and (max-width: 767px) {
.banner-inner {
	padding:45px 0 40px 0
}
}


/*
 4) About - Us
 ----------------------------------------*/
.content-main {
	width:100%;
	float:left;
	padding:80px 0 0 0;
}

.content-main .cont-txt {
	width:100%;
	float:left;
	background:url(../images/bg-arrow.png) no-repeat bottom right;
	padding-bottom:150px;
}

.content-main .cont-txt aside {
	width:100%;
	max-width:1100px;
	float: left;
}

@media only screen and (max-width: 1023px) {
.content-main {
	padding:60px 0 0 0;
}
}

@media only screen and (max-width: 767px) {
.content-main {
	padding:40px 0 0 0;
}

.content-main .cont-txt {
	background-size:260px auto;
	padding-bottom:80px;
}
}

/*
 5) Setting
 ----------------------------------------*/

.form-block-bg {
	width:100%;
	max-width:370px;
	margin:0 auto;
}

.form-block {
	width:100%;
	float:left;
}

.form-block ul {
	width:100%;
	float:left;
}

.form-block ul li {
	width:100%;
	float:left;
	padding:0 0 20px 0;
}

.form-block ul li:last-child {
	padding-bottom:40px;
}

.form-block ul li .input-bg {
	width:46%;
	float:left;
}

.form-block ul li .input-bg:last-child {
	float:right;
}

.form-block .btn {
	float:right;
}

@media only screen and (max-width: 479px) {
.form-block ul li .input-bg {
	width:100%;
	padding-bottom:20px;
}

.form-block ul li .input-bg:last-child {
	padding-bottom:0;
}

.form-block ul li:last-child {
	padding-bottom:25px;
}
}


/*
 6) My orders 
 ----------------------------------------*/

.order-details {
	width:100%;
	float:left;
}

.order-details ul {
	width:100%;
	float:left;
}

.order-details ul li {
	width:100%;
	float:left;
	font-size:14px;
	color:#333333;
	border-bottom:1px solid #cccccc;
	padding:13px 30px;
}

.order-details ul li a {
	color:#333333;
}

.order-details ul li .red {
	color:#e8472a;
}

.order-details ul li .red a {
	color:#e8472a;
}

.order-details .btn {
	width:131px;
	height:34px;
	float:left;
	font-family:"HelveticaNeueLTStd-Md", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#e8472a;
	line-height:30px;
	background:none;
	border:2px solid #e8472a;
	padding:0;
}

.order-details .btn:hover
 {
	color:#ffffff;
	text-decoration:none;
}
.order-details .btn:focus,
.order-details .btn:active{
	color:#cf2f13;
}
.order-details .btn:before {
	background:#e8472a;
	top:34px;
}

.order-details .btn:hover:before {
	top:0;
}

.order-details .complete {
	width:100%;
	float:left;
	background: url(../images/icon-10.png) no-repeat right center;
	padding:5px 30px 5px 0;
}

.order-details .cancel {
	width:100%;
	float: left;
	background: url(../images/icon-11.png) no-repeat right center;
	padding:5px 30px 5px 0;
}

.order-details .question {
	color:#e8472a;
	background:url(../images/icon-12.png) no-repeat left center;
	padding:3px 0 3px 44px;
}

.order-details .question a {
	color:#e8472a;
}

.order-details .col1 {
	width:21.60%;
	float:none;
	display:inline-block;
	vertical-align:middle;
	padding:0 170px 0 0;
	margin:0 -2px;
}

.order-details .col2 {
	width:24.40%;
	float:none;
	display:inline-block;
	vertical-align:middle;
	padding:0 50px 0 0;
	margin:0 -2px;
}

.order-details .col3 {
	width:18%;
	float:none;
	display:inline-block;
	vertical-align:middle;
	text-align: center;
	padding:0 100px 0 0;
	margin:0 -2px;
}

.order-details .col4 {
	width:20.70%;
	float:none;
	display:inline-block;
	vertical-align:middle;
        text-align: center;
	padding:0 110px 0 0;
	margin:0 -2px;
}

.order-details .col5 {
	width:15.30%;
	float:none;
	display:inline-block;
	vertical-align:middle;
	padding:0 40px 0 0;
	margin:0 -2px;
}

.order-details .head-txt {
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	color:#666666;
	background:#f3f3f3;
	text-align:center;
}

.order-details .head-txt .col3 {
	text-align:center;
}

.order-details .title {
	display:none;
}

@media only screen and (max-width:1199px) {
.order-details .col1 {
	width:17.60%;
	padding:0 90px 0 0;
}

.order-details .col2 {
	width:28.40%;
	padding:0 30px 0 0;
}

.order-details .col3 {
	padding:0 60px 0 0;
}

.order-details .col4 {
	padding:0 75px 0 0;
	margin:0 -2px;
}

.order-details .col5 {
	padding:0;
}
}

@media only screen and (max-width:1023px) {
.order-details .col1 {
	width:14.60%;
	padding:0 30px 0 0;
}

.order-details .col2 {
	width:28.40%;
	padding:0 30px 0 0;
}

.order-details .col3 {
	width:18%;
	padding:0 30px 0 0;
}

.order-details .col4 {
	width:20.70%;
	padding:0 30px 0 0;
}

.order-details .col5 {
	width:18.30%;
	padding:0 0 0 0;
}
}

@media only screen and (max-width:767px) {
.order-details ul li {
	margin:0 0 20px 0;
	padding:0 0 20px 0;
}

.order-details ul li:last-child {
	margin-bottom:0;
}

.order-details .complete {
	width: auto;
	background-size:22px auto;
	padding:2px 33px 2px 0;
}

.order-details .cancel {
	width:auto;
	background-size:22px auto;
	padding:2px 33px 2px 0;
}

.order-details .col1 {
	width:100%;
	padding:0 0 13px 0;
	margin:0;
}

.order-details .col2 {
	width:100%;
	padding:0 0 13px 0;
	margin:0;
}

.order-details .col3 {
	width:100%;
	padding:0 0 13px 0;
	margin:0;
}

.order-details .col4 {
	width:100%;
	padding:0 0 20px 0;
}

.order-details .col5 {
	width:100%;
	padding:0 0 0 130px;
	margin:0;
}

.order-details .head-txt {
	display:none;
}

.order-details .title {
	width:100px;
	float:left;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666666;
	text-align:left;
	margin:0 -130px 0 0;
	display: block;
}

.order-details .txt {
	width:100%;
	float:left;
	text-align: left;
	padding:0 0 0 130px;
}
}


/*
 7.) Checkout
 ----------------------------------------*/

.section-checkout {
	width:100%;
	float:left;
}

.left-col {
	width:62.8%;
	float:left;
}

@media only screen and (max-width: 1023px) {
.left-col {
	width:100%;
	text-align:center;
	padding:0 0 30px 0;
}
}

.table-info {
	width:100%;
	float:left;
}

.table-info p {
	text-align:left;
	position:relative;
	padding:0 0 23px 29px;
}

.table-info p a {
	text-decoration:underline;
}

.table-info .icon-reply {
	width:20px;
	height:18px;
	float:left;
	background:url(../images/icon-09.png) no-repeat 0 0;
	text-indent:-99999px;
	position:relative;
	z-index:10;
}

.table-info .icon-reply:hover {
	background:url(../images/icon-13.png) no-repeat 0 0;
}

.table-info p:last-child {
	padding-bottom:0;
}

.table-info ul {
	width:100%;
	float:left;
}

.table-info ul li {
	width:100%;
	float:left;
	font-family:"helvetica_neueregular", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333333;
	border-bottom:1px solid #cccccc;
	padding-bottom:20px;
	margin-bottom:20px;
}

.table-info ul li:last-child {
	border-width:2px;
}

.table-info ul li.heading {
	float:left;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	background:#f3f3f3;
	border:none;
	padding:9px 0 11px 0;
	margin-bottom:12px;
}

.table-info ul li.heading .col1 {
	padding:0 30px;
}

.table-info ul li.heading .col2 {
	padding:0;
}

.table-info ul li.heading .col3 {
	padding:0;
}

.table-info ul li.heading .col4 {
	padding:0;
}

.table-info ul li.heading .col5 {
	padding:0;
}

.table-info ul li .col1 {
	width:46%;
	float:left;
	text-align:left;
}

.table-info ul li .col1 figure {
	width:70px;
	float:left;
	position:relative;
	margin-right:-70px;
	z-index:10;
}

.table-info ul li .col1 figure img {
	width:100%;
}

.table-info ul li .col1 aside {
	width:100%;
	max-width:320px;
	float:left;
	padding:0 0 0 98px;
}

.table-info ul li .col1 aside p {
	font-size:14px;
	padding-left:0;
}

.table-info ul li .col2 {
	width:10%;
	float:left;
	text-align:center;
	padding-top:5px;
	margin-right:5%;
}

.table-info ul li .col3 {
	/*width:8.7%;*/
        width: 26.1%;
	float:left;
	text-align:center;
	padding-top:5px;
	margin-right:5%;
}

.table-info ul li .col4 {
	width:8.7%;
	float:left;
	text-align:center;
	padding-top:5px;
	margin-right:5%;
}

.table-info ul li .col5 {
	width:8.7%;
	float:left;
	text-align:center;
	padding-top:5px;
}

.table-info .heading2 {
	width:100%;
	float:left;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666666;
	background:#f3f3f3;
	padding:8px 0 9px 0;
	margin-bottom:12px;
	display:none;
}

@media only screen and (max-width: 1199px) {
.table-info ul li.heading .col1 {
	padding:0 26px;
}
}

@media only screen and (max-width: 1023px) {
.table-info ul li.heading .col1 {
	padding:0 34px;
}
}

@media only screen and (max-width: 767px) {
.table-info ul li {
	font-size:15px;
	margin-bottom:25px;
}

.table-info ul li.heading {
	display:none;
}

.table-info .heading2 {
	display:block;
}

.table-info .heading2 .col1 {
	padding:0 15px;
	margin:0
}

.table-info ul li .col1 {
	width:100%;
	margin-bottom:20px;
}

.table-info ul li .col1 aside {
	padding:0 0 0 88px;
}

.table-info ul li .col2 {
	width:25%;
	padding-top:0;
	margin-right:0;
}

.table-info ul li .col3 {
	width:25%;
	padding-top:0;
	margin-right:0;
}

.table-info ul li .col4 {
	width:25%;
	padding-top:0;
	margin-right:0;
}

.table-info ul li .col5 {
	width:25%;
	padding-top:0;
}
}

.shipping-info {
	width:100%;
	float:left;
}

.shipping-txt {
	width:50.35%;
	float:left;
	background:#f3f3f3;
	border-radius:6px;
	text-align:left;
	position:relative;
	padding:47px 30px 35px 30px;
}

.shipping-txt h4 {
	font-family:"helvetica_neueregular", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#1d365c;
	padding-right:40px
}

.shipping-txt p {
	font-size:14px;
	color:#666666;
}

.shipping-txt p:last-child {
	padding-bottom:0;
}

.shipping-txt .icon-shipping {
	float:right;
	position:absolute;
	top:22px;
	right:38px;
}

@media only screen and (max-width: 1023px) {
.shipping-txt .icon-shipping {
	top:18px;
	right:26px;
}

.shipping-txt .icon-shipping img {
	max-width:50px;
}
}

@media only screen and (max-width: 767px) {
.shipping-txt {
	width:100%;
	max-width:370px;
	float:none;
	display:inline-block;
	padding:25px 20px 25px 20px;
	margin-bottom:30px;
}

.shipping-txt .icon-shipping {
	width:100%;
	float:left;
	text-align:center;
	position:static;
	padding:0 0 15px 0;
}

.shipping-txt .icon-shipping img {
	max-width:45px;
}
}

.shipping-cost {
	width:45.5%;
	float:right;
	text-align:left;
	padding:0 33px 0 4px;
}

.shipping-cost ul {
	width:100%;
	float:left;
}

.shipping-cost ul li {
	width:100%;
	float:left;
	font-size:16px;
	color:#333333;
	padding:0 0 18px 0;
}

.shipping-cost ul li span {
	width:100%;
	float:none;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	padding:0 80px 0 0;
	margin:0 -3px;
}

.shipping-cost ul li span.price {
	width:80px;
	float:none;
	font-family:"helvetica_neueregular", Arial, Helvetica, sans-serif;
	display:inline-block;
	vertical-align:middle;
	text-align:right;
	padding:0;
	margin:0 0 0 -80px;
}

.shipping-cost ul li span.tax {
	width:auto;
	float:left;
	border-bottom:2px dotted #333333;
	padding:0;
	margin-left:1px;
}

.shipping-cost ul li:last-child {
	font-size:18px;
	border-bottom:2px solid #e8472a;
	padding-bottom:8px;
}

.shipping-cost ul li:last-child span.price {
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1199px) {
.shipping-cost {
	padding:0 23px 0 4px;
}
}

@media only screen and (max-width: 1023px) {
.shipping-cost {
	padding-right:0;
}
}

@media only screen and (max-width: 767px) {
.shipping-cost {
	width:100%;
	max-width:370px;
	float:none;
	display:inline-block;
}

.shipping-cost ul li:last-child {
	font-size:17px;
}

.shipping-cost ul li {
	font-size:15px;
	padding:0 0 16px 0;
}
}

.right-col {
	width:36.58%;
	float:right;
	margin:0 -30px 0 0;
}

.right-col .form-block {
	width:100%;
	float:left;
	background:#f3f3f3;
	border-radius:6px;
	padding:28px;
}

.right-col .form-block p {
	font-size:14px;
	color:#000000;
	text-align:center;
	padding:0;
}

.right-col .form-block p a {
	text-decoration:underline;
}

.right-col .form-block ul li.code-cl {
	padding-bottom:42px;
}

.right-col .form-block ul li .coupon-code {
	width:100%;
	float:left;
	position:relative;
	padding:0 130px 0 0;
}

.right-col .form-block ul li .coupon-code .input {
	border-color:#e8472a;
}

.right-col .form-block ul li .coupon-code .btn {
	width:100px;
	float:right;
	position:absolute;
	top:0;
	right:0;
	padding:0;
}

.right-col .form-block ul li:last-child {
	padding-bottom:20px;
}

.right-col .form-block .btn {
	width:100%;
	margin-bottom:12px;
}

.right-col .form-block .radio {
	width:12px;
	height:12px;
	float:left;
	background:url(../images/radio01.png) no-repeat;
	padding:0;
	margin:9px 0 0 -26px;
}

.right-col .form-block .options {
	width:100%;
	float:left;
	padding:0 0 0 29px;
	margin:0;
}

.right-col .form-block .options .check {
	width:100%;
	float:left;
	position:relative;
}

.right-col .form-block .options .option-txt {
	width:auto;
	float:left;
	background:url(../images/icon-07.png) no-repeat 0 0;
	font-family:"helvetica_neueregular", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333333;
	line-height:18px;
	padding:6px 0 6px 0;
	margin:0;
}

.right-col .form-block .options .option-txt .txt-door {
	float:left;
	padding:0 0 0 45px;
}

.right-col .form-block .options .option-txt a {
	text-decoration:underline;
	margin:0 0 0 17px;
}

@media only screen and (max-width: 1023px) {
.right-col {
	width:100%;
	float:left;
	text-align:center;
	margin:0;
}

.right-col .form-block {
	max-width:430px;
	float:none;
	display:inline-block;
	text-align:left;
	padding:25px;
}
}

@media only screen and (max-width: 767px) {
.right-col .form-block {
	max-width:370px;
	padding:20px;
}

.right-col .form-block .options .option-txt {
	font-size:15px;
	line-height:17px;
}

.right-col .form-block .options .option-txt a {
	margin:0 0 0 18px;
}
}

@media only screen and (max-width: 479px) {
.right-col .form-block ul li.code-cl {
	padding-bottom:25px;
}

.right-col .form-block ul li .coupon-code {
	padding:0;
}

.right-col .form-block ul li .coupon-code .input {
	margin-bottom:15px;
}

.right-col .form-block ul li .coupon-code .btn {
	float:left;
	position:relative;
}
}

/*
 8.) Login - Signup
 ----------------------------------------*/
.section-account {
	width:100%;
	float:left;
	text-align: center;
}

.account-in {
	width:100%;
	max-width:970px;
	float:none;
	display:inline-block;
	position:relative;
}

.account-in:before {
	content:"";
	width:1px;
	height:100%;
	float:right;
	background:#bababa;
	position:absolute;
	top:0;
	right:50%;
}

.account-in .btn {
	width:100%;
	float:left;
	margin-bottom:9px;
}

.account-in .form-block p {
	font-size:14px;
	text-align:center;
	padding:0 15px;
}

.account-in .form-block p:last-child {
	padding-bottom:0;
}

.account-in .form-block .btn {
	margin-bottom:22px
}

 .warn-msg {
    margin-bottom: 1rem;
    color: #e8472a;
}

.info-msg {
    margin-bottom: 1rem;
    color: #00AA00;
}

@media only screen and (max-width: 1023px) {
.account-in .form-block p {
	padding:0 10px;
}

.account-in .form-block .btn {
	margin-bottom:18px
}
}

@media only screen and (max-width: 767px) {
.account-in:before {
	display:none;
}

.account-in .form-block p {
	padding:0 6px;
}

.account-in .form-block .btn {
	margin-bottom:13px
}
}

.log-in-info {
	width:38.14%;
	float:left;
	text-align:left;
}

.log-in-info aside {
	width:100%;
	float:left;
	padding:0 0 10px 0;
}

.log-in-info .divider-or {
	width:100%;
	float:left;
	text-align:center;
	position:relative;
}

.log-in-info .divider-or span {
	font-size:14px;
	color:#666666;
	line-height:14px;
	background:#ffffff;
	padding:0 10px;
	position:relative;
	z-index:10;
}

.log-in-info .divider-or:before {
	content:"";
	width:100%;
	height:1px;
	float:left;
	background:#bababa;
	position:absolute;
	top:55%;
	left:0
}

@media only screen and (max-width: 1023px) {
.log-in-info {
	width:44%;
}
}

@media only screen and (max-width: 767px) {
.log-in-info {
	width:100%;
	max-width:370px;
	float:none;
	display:inline-block;
	text-align:left;
	border-bottom:1px solid #bababa;
	padding:0 0 30px 0;
	margin:0 0 30px 0;
}
}

.sign-up-info {
	width:38.14%;
	float:right;
	text-align:left;
}

.sign-up-info aside {
	width:100%;
	float:left;
	padding:0 80px 17px 0;
}

@media only screen and (max-width: 1023px) {
.sign-up-info {
	width:44%;
}

.sign-up-info aside {
	padding:0 30px 17px 0;
}
}

@media only screen and (max-width: 767px) {
.sign-up-info {
	width:100%;
	max-width:370px;
	float:none;
	display:inline-block;
	text-align:left;
}
}


.feature-list2 {
	background:#f3f3f3;
	padding:45px 0 55px 0;
}

.feature-list2 aside p {
	font-size:14px;
	color:#666666;
	line-height:20px;
}

.feature-list2 article {
	width:23%;
	padding:0 0 20px 0;
	margin:0 4%
}

.feature-list2 article:nth-child(3) aside {
	padding:0 0 0 80px;
}

@media only screen and (max-width: 1199px) {
.feature-list2 article {
	width:26%;
	margin:0 3%;
}
}

@media only screen and (max-width: 1023px) {
.feature-list2 {
	padding:40px 0;
}

.feature-list2 aside p br {
	display:none;
}

.feature-list2 article:nth-child(3) aside {
	padding-left:0;
}
}

@media only screen and (max-width: 767px) {
.feature-list2 article {
	width:50%;
	margin:0 -2px;
}

.feature-list2 article:nth-child(3) figure img {
	max-width:45px;
}
}

@media only screen and (max-width: 479px) {
.feature-list2 article {
	width:100%;
}

.feature-list2 article:nth-child(3) aside {
	padding-left:60px;
}
}


/*
 9.) Questions
 ----------------------------------------*/

.accord-cont {
	width:100%;
	float:left;
	padding:0 0 45px 0;
}

.accord-cont:last-child {
	padding-bottom:0;
}

.accord-cont h2 {
	padding-bottom:18px;
}

.accord-cont ul {
	width:100%;
	float:left;
	padding:0;
}

.accord-cont ul li {
	width:100%;
	float:left;
}

.accord-cont aside {
	width:100%;
	float:left;
	display:none;
	background:#f3f3f3;
	border:none;
	border-radius:4px;
	padding:25px;
}

.accord-cont aside ul {
	width:100%;
	float:left;
}

.accord-cont aside ul li {
	width:100%;
	float:left;
	padding:0 0 19px 0;
}

.accord-cont aside ul li:last-child {
	padding-bottom:0;
}

.accord-cont .accord-btn {
	width:100%;
	float:left;
	font-family:"helvetica_neuebold", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#e8472a;
	line-height:22px;
	border-bottom:1px solid #d6d6d6;
	padding:15px 25px 19px 25px;
	cursor:pointer;
	position:relative;
}

.accord-cont .accord-btn span {
	width:100%;
	float:left;
	background:url(../images/arrow-01.png) no-repeat right center;
	padding:0 50px 0 0;
}

.accord-cont .accord-btn:hover {
	text-decoration:none;
}

.accord-cont .accord-btn.active {
	border-bottom:none;
}

.accord-cont .accord-btn.active span {
	background:url(../images/arrow-02.png) no-repeat right center;
}

@media only screen and (max-width: 767px) {
.accord-cont {
	padding:0 0 40px 0;
}

.accord-cont h2 {
	padding-bottom:10px;
}

.accord-cont aside {
	padding:20px 10px;
}

.accord-cont aside ul li {
	padding:0 0 15px 0;
}

.accord-cont .accord-btn {
	font-size:16px;
	line-height:20px;
	padding:11px 10px 15px 10px;
}

.accord-cont .accord-btn span {
	background-size:16px auto;
	padding:0 35px 0 0;
}

.accord-cont .accord-btn.active span {
	background-size:16px auto;
}

.accord-cont .accord-btn:hover {
	text-decoration:none;
}
}


/*
 10.) Pop-up Window
 ----------------------------------------*/

#popwin {
    position: absolute;
    width: 80%;
    max-width: 50rem;
    margin: 0 auto;
    right: 0;
    left: 0;
    background-color: #FFFFFF;
    border: 1px solid #CECECE;
    z-index: 120;
    box-shadow: 3px 3px 7px rgba(50, 50, 50, .3);
}

#popwin-close {
    position: absolute;
    top: .7rem;
    right: .7rem;
    font-size: 1.5rem;
}

#popwin-close:hover {
    cursor: pointer;
}

#pw-cart {
    width: 90%;
    margin-top: 3rem;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
}

#pw-cart > div {
    margin-bottom: 2rem;
}

#pw-cart input,
#pw-cart textarea {
    box-sizing: border-box;
    width: 100%;
}

#pw-cart textarea {
    height: 7rem;
}

#pw-cart button {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: .4rem 1rem;
    border-radius: .3rem;
    border: 1px solid #317EEB;
    background-color: #317EEB;
    font-size: 1.2rem;
    font-family: 'Open Sans';
    color: #FFFFFF;
}

#pw-cart button:hover {
    cursor: pointer;
    background-color: #1760C7;

}

#pw-qty {
    display: flex;
    flex-flow: row nowrap;
}

#pw-qty > span {
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    border: 1px solid #000000;
}

#pw-qty > span:hover {
    cursor: pointer;
}

#pw-qty > span.active {
    color: #FF6100;
}

i.fa-list {
    position: relative;
    top: 3px;
    color: #4c6a98;
}

.thanyou {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #c8cdd4 #c8cdd4 #fc7315;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 47px;
	padding: 30px 20px;
	text-align: center;
	border-radius: 10px;
}
.thanyou .tx-img {
	margin-bottom: 30px;
}
.thanyou h2 {
	color: #474a4c;
	font-size: 26px;
	line-height: 0;
	margin-bottom: 11px;
	margin-top: 22px;
	text-transform: none;
}