.orderSummary {
    background-color: #fbfafa;
}
.bordered {
    border: 1px solid #e0e4e3;
}

.TAR {
    text-align: right;
}
.fColorLightGrey {
    color: #999999;
}
.Mbottom5 {
    margin-bottom: 5px !important;
}
.orderSummaryItem {
    background-color: #ffffff;
    position: relative;
}
.Pleft20 {
    padding-left: 20px !important;
}
.Pright20 {
    padding-right: 20px !important;
}

.Pleft10 {
    padding-left: 10px !important;
}
.Pright10 {
    padding-right: 10px !important;
}
.W100 {
    box-sizing: border-box;
    display: table;
    position: relative;
    width: 100%;
}
.Mtop5, .Mbottom5, .Mtop10, .Mtop15, .Mbottom15, .Mbottom10, .Mtop20, .Mbottom20, .Mright30, .Mleft30, .Mright40, .Mleft40 {
    box-sizing: border-box;
}
.borderRadius5 {
    border-radius: 5px;
}
.bordered {
    border: 1px solid #e0e4e3;
}
.bordered {
    box-sizing: border-box;
}
.orderSummaryItem img {
    height: auto;
    max-height: 80px;
    max-width: 80%;
    width: auto;
}
.column5-10{
    width:50%;
    float:left;
}
.column6-12 {
    width: 50%;
    float:left;
}
.column3-12 {
    width: 25%;
    float:left;
}
.F16 {
    font-size: 16px;
}
.Mtop20 {
    margin-top: 20px !important;
}
.Mbottom10 {
    margin-bottom: 10px !important;
}
.Fleft {
    float: left !important;
}
input[type="text"], input[type="url"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select, textarea {
    border-color: #cecece;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    min-height: 30px;
    padding: 0 10px;
    width: 100%;
}
.paymentCoupon .paymentCouponButton {
    background-color: #05abda;
    border: 0 none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    text-align: center;
    width: 50px;
}
.paymentCoupon .paymentCouponField {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.paymentCoupon .paymentCouponField {
    background-color: #ffffff;
    border: 1px solid #e0e4e3;
    font-size: 14px;
    height: 40px;
}
.rest {
    overflow: hidden;
}
.Mtop20 {
    margin-top: 20px !important;
}
.Fright {
    float: right !important;
}
.Fleft {
    float: left !important;
}

.borderTop {
    border-top: 1px solid #e0e4e3;
}
.Pbottom20 {
    padding-bottom: 20px !important;
}
.Ptop20 {
    padding-top: 20px !important;
}
.fColorBlack {
    color: #000000;
}
.F18 {
    font-size: 18px;
}

.fColorEfa3lyGrey {
    color: #9c9d9e;
}

.paymentMethodContainer .fColorGreen {
    color: #2ecc71 !important;
}
.F24 {
    font-size: 24px;
}
.orderSummaryItem .editDeleteBtns {
    right: 10px;
}
.orderSummaryItem .editDeleteBtns {
    bottom: 0;
    position: absolute;
}
.editDeleteBtns, .editDeleteBtns a {
    color: #7f8c8d;
    font-size: 14px;
}
.Pbottom30 {
    padding-bottom: 30px !important;
}
.Ptop20 {
    padding-top: 20px !important;
}
.orderSummary .editOrderLink {
    color: #95a5a6;
    font-size: 14px;
}
.Pright10 {
    padding-right: 10px !important;
}
.Pbottom10 {
    padding-bottom: 10px !important;
}
.Ptop10 {
    padding-top: 10px !important;
}
.column4-12 {
    width: 33.3333%;
    float:left;
}
.TAR {
    text-align: right;
}
.TAL {
    text-align: left;
}
.column8-12 {
    width: 66.6667%;
    float:left;
}
.Mbottom20 {
    margin-bottom: 20px !important;
}
.paymentMethodContainer .paymentMethod img {
    height: auto;
    max-width: 100%;
}
.column3-12 {
    width: 25%;
}
.checkoutPage .continueBaymentbutton {
    background-color: #3498db;
    background-repeat: no-repeat;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 30px;
}
.continueBaymentbutton {
    background-position: left center;
    background-repeat: no-repeat;
}
.continueBaymentbutton {
    background-color: #3498db;
    background-repeat: no-repeat;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 30px;
}
.Pright5.Pleft5.Ptop5.Pbottom5.RW50-mob {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    max-width: 370px;
    padding: 15px;
    text-align: center;
}
.W100.F16.TAL.fColorBlack.Mbottom20 {
    font-size: 23px;
}
.paypal-text {
    float: left;
}
.Pright5.Pleft5.Ptop5.Pbottom5.RW50-mob input {
    float: left;
    margin-left: 15px;
    margin-top: 19px;
}
.paypal-text p {
    color: #000;
    font-size: 16px;
    margin-bottom: 40px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 0;
}