
@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriadpro-regular_0-webfont.eot');
    src: url('../fonts/myriadpro-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-regular_0-webfont.woff') format('woff'),
         url('../fonts/myriadpro-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-regular_0-webfont.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helvetica.eot');
    src: url('../fonts/helvetica.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica.woff') format('woff'),
         url('../fonts/helvetica.ttf') format('truetype'),
         url('../fonts/helvetica.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd-Md';
	src: url('../fonts/helveticaneueltstd-md.eot');
	src: url('../fonts/helveticaneueltstd-md.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneueltstd-md.woff') format('woff'),
		 url('../fonts/helveticaneueltstd-md.ttf') format('truetype'),
		 url('../fonts/helveticaneueltstd-md.svg#helveticaneueltstd-md') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'helvetica_neuebold';
    src: url('../fonts/helveticaneue-bold-webfont.eot');
    src: url('../fonts/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-bold-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-bold-webfont.svg#helvetica_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
